<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>EbNewsController</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EbNewsController</servlet-name>
        <url-pattern>/Index.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegResultServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.RegResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegResultServlet</servlet-name>
        <url-pattern>/RegResult.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/Comment.Servlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>InsertCommentServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.InsertCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertCommentServlet</servlet-name>
        <url-pattern>/Insert.Comment.Servlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>EbProductViewController</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ProductViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EbProductViewController</servlet-name>
        <url-pattern>/ProductView.Servlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ManageNoticeAddServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageNoticeAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageNoticeAddServlet</servlet-name>
        <url-pattern>/ManageNoticeAdd.Servlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ManageNoticeServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageNoticeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageNoticeServlet</servlet-name>
        <url-pattern>/ManageNotice.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageNoticeModifyServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageNoticeModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageNoticeModifyServlet</servlet-name>
        <url-pattern>/ManageNoticeModify.Servlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductList.Servlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>Index.Servlet</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ShoppingServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ShoppingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingServlet</servlet-name>
        <url-pattern>/Shopping.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageGuestBookServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageGuestBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageGuestBookServlet</servlet-name>
        <url-pattern>/ManageGuestBook.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageGuestBookModifyServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageGuestBookModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageGuestBookModifyServlet</servlet-name>
        <url-pattern>/ManageGuestBookModify.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageNewsServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageNewsServlet</servlet-name>
        <url-pattern>/ManageNews.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageNewsModifyServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageNewsModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageNewsModifyServlet</servlet-name>
        <url-pattern>/ManageNewsModify.Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageNewsAddServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageNewsAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageNewsAddServlet</servlet-name>
        <url-pattern>/ManageNewsAdd.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageOrderServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageOrderServlet</servlet-name>
        <url-pattern>/ManageOrder.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageOrderModifyServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageOrderModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageOrderModifyServlet</servlet-name>
        <url-pattern>/ManageOrderModify.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/ManageUser.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageUserModifyServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageUserModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUserModifyServlet</servlet-name>
        <url-pattern>/ManageUserModify.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageUserAddServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageUserAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUserAddServlet</servlet-name>
        <url-pattern>/ManageUserAdd.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/ManageProduct.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageProductAddServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageProductAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProductAddServlet</servlet-name>
        <url-pattern>/ManageProductAdd.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageProductModifyServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageProductModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProductModifyServlet</servlet-name>
        <url-pattern>/ManageProductModify.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageProductClassServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageProductClassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProductClassServlet</servlet-name>
        <url-pattern>/ManageProductClass.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageProductClasstAddServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageProductClasstAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProductClasstAddServlet</servlet-name>
        <url-pattern>/ManageProductClassAdd.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageProductClassModifyServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.ManageProductClassModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProductClassModifyServlet</servlet-name>
        <url-pattern>/ManageProductClassModify.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NoticeViewServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.NoticeViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoticeViewServlet</servlet-name>
        <url-pattern>/NoticeView.Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewsViewServlet</servlet-name>
        <servlet-class>sdkd.com.ec.servlet.NewsViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsViewServlet</servlet-name>
        <url-pattern>/NewsView.Servlet</url-pattern>
    </servlet-mapping>




    <!-- 配置验证码插件servlet类 -->
    <servlet>
        <servlet-name>kaptcha</servlet-name>
        <servlet-class>
            com.google.code.kaptcha.servlet.KaptchaServlet
        </servlet-class>
        <!-- 给验证码插件servlet类配置参数 -->
        <!-- 边框设置 yes  no -->
        <init-param>
            <param-name>kaptcha.border</param-name>
            <param-value>no</param-value>
        </init-param>
        <!-- 边框颜色 颜色名称 例如：red blue black等 也可以是 RGB：105,179,90 -->
        <init-param>
            <param-name>kaptcha.border.color</param-name>
            <param-value>red</param-value>
        </init-param>
        <!-- 边框宽度 -->
        <init-param>
            <param-name>kaptcha.border.thickness</param-name>
            <param-value>4</param-value>
        </init-param>
        <!-- 产生验证码的字符源头 兼容中文的 -->
        <init-param>
            <param-name>kaptcha.textproducer.char.string</param-name>
            <param-value>1234567890ABCDEFGH</param-value>
        </init-param>
        <!-- 生成结果的字符个数 -->
        <init-param>
            <param-name>kaptcha.textproducer.char.length</param-name>
            <param-value>4</param-value>
        </init-param>
        <!-- 生成结果的字符字体 -->
        <init-param>
            <param-name>kaptcha.textproducer.font.names</param-name>
            <param-value>微软雅黑,宋体,楷体</param-value>
        </init-param>
        <!-- 生成结果的字符大小 -->
        <init-param>
            <param-name>kaptcha.textproducer.font.size</param-name>
            <param-value>30</param-value>
        </init-param>
        <!-- 生成结果的字符 颜色 -->
        <init-param>
            <param-name>kaptcha.textproducer.font.color</param-name>
            <param-value>black</param-value>
        </init-param>
        <!-- 生成结果的字符 字间距 -->
        <init-param>
            <param-name>kaptcha.textproducer.char.space</param-name>
            <param-value>2</param-value>
        </init-param>
        <!-- 验证码图片宽度 -->
        <init-param>
            <param-name>kaptcha.image.width</param-name>
            <param-value>120</param-value>
        </init-param>
        <!-- 验证码图片高度 -->
        <init-param>
            <param-name>kaptcha.image.height</param-name>
            <param-value>30</param-value>
        </init-param>
    </servlet>
    <!-- 验证码请求名  映射 -->
    <servlet-mapping>
        <servlet-name>kaptcha</servlet-name>
        <url-pattern>/yzm</url-pattern>
    </servlet-mapping>

</web-app>